@model ClientVM
@{
    ViewData["Title"] = "Index";
}
<!-- Scroll - horizontal and vertical table -->
<section id="horizontal-vertical">
   @* <div class="dt-buttons btn-group">
        <a asp-action="Create" asp-controller="Client" class="btn btn-outline-primary" style="margin:20px">
            <span><i class="feather icon-plus"></i></span>
        </a>
    </div>*@
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> </h4>
                </div>
                <div class="card-content">
                    <div class="card-body card-dashboard">
                        <div class="table-responsive">
                                    <form asp-controller="Client" asp-action="Delete" class="form-group ">

                            <table class="table nowrap scroll-horizontal-vertical">
                                <thead>
                                    <tr>
                                        <th> حذف العميل </th>
                                    </tr>



                                </thead>
                                <tbody>

                                    <tr>
                                        <td>الكود </td>
                                        <td>@Model.Code </td>
                                    </tr>

                                    <tr>
                                        <td>الاسم </td>
                                        <td>@Model.Name </td>
                                    </tr>

                                    <tr>
                                        <td>الجد </td>
                                        <td>@Model.GrandFatherName </td>
                                    </tr>

                                    <tr>
                                        <td>الجدة </td>
                                        <td>@Model.GrandMotherName </td>
                                    </tr>

                                    <tr>
                                        <td>الزوجه </td>
                                        <td>@Model.FirstWife </td>
                                        <td>@Model.SecendWife </td>
                                        <td>@Model.ThirdWife </td>
                                        <td>@Model.FourthWife </td>
                                    </tr>


                                    <tr>
                                        <td>بدايه الاشتراك </td>
                                        <td>@Model.StartDate </td>
                                    </tr>


                                    <tr>
                                        <td>نهايه الاشتراك </td>
                                        <td>@Model.EndDate </td>
                                    </tr>


                                    <tr>
                                        <td> القسم</td>
                                        <td>@Model.Department </td>
                                    </tr>


                                    <tr>
                                        <td> مسؤل التعامل </td>
                                        <td>@Model.DealOfficer </td>
                                    </tr>


                                    <tr>
                                        <td> المنطقه</td>
                                        <td>@Model.Region </td>
                                    </tr>


                                    <tr>
                                        <td> رقم التليفون</td>
                                        <td>@Model.Phone </td>
                                    </tr>

                                    <tr>
                                        <td> تقرير الحاله</td>
                                        <td>@Model.ClientReport </td>
                                    </tr>

                                    <tr>
                                        <td> خطه العمل</td>
                                        <td>@Model.WorkPlan </td>
                                    </tr>

                                    <tr>
                                        <td> ملاحظات</td>
                                        <td>@Model.Notes </td>
                                    </tr>

                                    <tr>
                                        <td> الادويه المتداوله</td>
                                        <td>@Model.Medicense </td>
                                    </tr>



                                </tbody>
                           
                            </table>

                                <center>
                                <input type="submit" value="حذف" class="btn btn-danger" />
                                <a asp-controller="Client" asp-action="Index" class="btn btn-info">العودة</a>
                                </center>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Scroll - horizontal and vertical table -->
