@model IEnumerable<ClientVM>
@{
    ViewData["Title"] = "Index";
}
<!-- Scroll - horizontal and vertical table -->
<section id="horizontal-vertical">
    <div class="dt-buttons btn-group">
        <a asp-action="Create" asp-controller="Client" class="btn btn-outline-primary" style="margin:20px">
            <span><i class="feather icon-plus"></i></span>
        </a>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">العملاء </h4>
                </div>
                <div class="card-content">
                    <div class="card-body card-dashboard">
                        <div class="table-responsive">
                            <table class="table nowrap scroll-horizontal-vertical">
                                <thead>
                                    <tr>
                                        <th>الكود </th>
                                        <th>الاسم </th>
                                        <th>بيانات العميل</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Code</td>
                                            <td>@item.Name</td>
                           
                                            <td><a asp-controller="Client" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">تفاصيل</a></td>

                                            <td class="product-action">
                                                <a asp-action="Edite" asp-controller="Client" asp-route-id="@item.Id">
                                                    <span class="action-edit"><i class="feather icon-edit"></i></span>
                                                </a>
                                                <a asp-action="Delete" asp-controller="Client" asp-route-id="@item.Id">
                                                    <span class="action-delete"><i class="feather icon-trash"></i></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Scroll - horizontal and vertical table -->
